{% extends 'layout.html' %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='forms_register.css') }}">
    {% endblock %}

{% block content %}

<div class="container"> 
    <h2>Register Form</h2>
<form method="POST" action ="" class="w-75" enctype="multipart/form-data">
{% for field in data.form %}
<div class="form-group ">
    {{ data.form.hidden_tag() }}

{% if field.name != 'csrf_token' %}
{% if field.errors %}
    {{field.label(class="form-control-label text-bg-danger") }}
    {{field(class="form-control")}}
    {% for error in field.errors %}
        {{ error }}
    {% endfor %}
    {% else %}
    {{field.label(class="form-control-label") }}
    {{field(class="form-control")}}
{% endif %}
    
{% endif %}
</div>
{% endfor %}

</div>
</form>

<div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <h1 color="red">{{ message }}</h1>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
{% endblock %}