{% extends 'layout.html' %}
{% block content %}

<form method="POST" action ="" class="w-50">
{% for field in data.form %}
<div class="form-group ">
    {{ data.form.hidden_tag() }}

{% if field.name != 'csrf_token' %}
{% if field.errors %}
    {{field.label(class="form-control-label text-bg-danger") }}
    {{field(class="form-control")}}
    {% for error in field.errors %}
        {{ error }}
    {% endfor %}
    {% else %}
    {{field.label(class="form-control-label") }}
    {{field(class="form-control")}}
{% endif %}
    
{% endif %}
{% endfor %}
</div>
</form>

{% endblock %}